/*Estilos Pag. Tenis*/

.encabezado {
    display: flex;
    text-align: center;
    background-color: #016a70;
    color: #FFFFDD;
    justify-content: space-between;
    grid-area: encabezado;

}

.encabezado img {
    width: 150px;
    margin: 0px 5px;
    justify-content: center;
}

.encab-medio {
    margin: 30px;
    font-size: 18px;
}
.animación{
    animation: 3s forwards nombre;
}
@keyframes nombre{
   0%{transform: rotatey(0deg);} 
   100%{transform: rotatey(360deg);}
}


.navegador {
    grid-area: navegador;
    background-color: #A2C579;
    color: #FFFFDD;
    text-align: center;
    padding: 10px;

}

.navegador ul {
    list-style: none;
    padding: 10px;
    margin: 0px;
}

.navegador ul li {
    display: inline-block;
}

.navegador li a {
    font-size: larger;
    padding: 10px;
    color: #FFFFDD;
    text-decoration: none;
}

.navegador li a:hover{
   color: #016A70;
    transition: all 0.3s ease;
}
.navegador img{
    width: 20px;
    height:30px ;
    margin: 0px 30px 0px 10px;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 ;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.art-1  h2{
    text-align: center;
    grid-area: art-1;
}


.contenedor-noticias {
    display: inline-flex ;
    padding: 5px;
    height: 350px;
    overflow: hidden;
    margin: 0px 20px;
    font-size: auto;
    
}

.contenedor-noticias img {
    margin: 20px;
}

.contenedor-noticias img{
    width: 250px;
}
.leyendas img{
    width: 250px;
}

.art-1 p{
  font-size: 14px ;  
}
.art-2{
    grid-area: art-2;
}
.art-3{
    grid-area: art-3;
}
.art-4{
    grid-area: art-4;
}

    

.art-5{
    grid-area: art-5;
}

    

.navegador iframe{
    justify-content: center;
    margin: 10px;
}


.art-6{
    display:inline-flex;
    grid-area: art-6;
}
.canchas{
    display: flex;
    width: 92%;
    margin: 20px;
}
.canchas img{
min-width: 4cm;;
height:300px ; 
flex-grow: 1;
object-fit: cover;
opacity: .8;
transition:.5s ease ;

}


#parrafo-7{
    min-width: 50%;
    display: flex;
    padding-left: 20px ;
        
}

.art-6 h3{
    text-align: center;
}
.art-6{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center; 
    
}


    

.asi{
    display: flex;
    text-align: center;
    justify-content: space-between;
    grid-area: asi;
}

.grid-container {
    padding-bottom: 10px;
    margin: 20px ;
    border: 1px solid #016A70;
    border-radius: 5px;
    justify-items: center;
    align-items: center;
display: flex;
} 
.grid-container img{
display: flex;
justify-content: center;
align-items: center;
padding-bottom: 10px;

}
.grid-container .contenedor-noticias #carrusel{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: auto!;
}
@media (min-width:920px){
    .contenedor {
        display: grid;
        grid-template: repeat(7,auto)/50% 50%;
        grid-template-areas: "encabezado encabezado" 
                              "navegador navegador"
                              "asi asi"
                              "art-1 art-2 
                              "art-3 art-4"
                              "art-5 art-6" 
                              "pie-pag pie-pag";
                              
                              
    } 
    .contenedor-noticias div p{
        font-size: 1.5vw;
    }
  
        
    }

         .contenedor-noticias div p{
    font-size: 1.9vw;
}



    
@media (min-width:720px){
    .contenedor {
        display: grid;
        grid-template: repeat(7,auto)/50% 50% ;
        grid-template-areas: "encabezado encabezado" 
                              "navegador navegador"
                              "asi asi"
                              "art-1 art-2"
                              "art-3 art-4"
                              "art-5 art-6"
                              "pie-pag pie-pag";
    } 
    .contenedor-noticias div p{
        font-size: 1.0vw;
    }
    #carrusel{
        width: 500px!;
        
    }
}

@media screen and (max-width:1220px){
   .encabezado,
   .navegador,
   .grid-container,
   .pie-pag {
    width: 1000px;
    padding: 0 20px;
    
   } 
   
}
@media screen and (max-width:1020px){
    
        
    .contenedor-noticias{
    width: 1020px;
    height: auto;
    flex-direction: column;
    justify-content: auto;
    text-align: auto;
 }

}



.pie-pag {
    background-color: #D2DE32;
    color: #016A70;
    text-align: center;
    padding: 10px;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100% !important;


    grid-area: pie-pag;
}
.redes-sociales {
    display: flex;
    align-items: center;
}

.redes-sociales a {
    display: inline-block;
    margin: 0 10px;
}

.redes-sociales img {
    width: 30px;
    height: 30px;
}

.creditos {
    text-align: center; /* Centrar el texto */
    font-size: 14px; /* Ajustar el tamaño de fuente a tu preferencia */
    color: #016A70; /* Cambiar el color del texto a tu preferencia */
}
/*FOOTER*/
footer {
    background-color: #00815ca1;
    color: #016A70; 
    text-align: center;
    padding: 10px;
    padding-top: auto;
    grid-area: pie-pag;
}
footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer .volver-arriba{
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 10px;

}


footer .container p {
    text-align: left;
    padding-left: 10px;
    font-weight: bold;
}

footer .redes-sociales {
    display: flex;
    justify-content: flex-end; 
}

.redes-sociales a {
    display: inline-block;
    margin: 0 10px;
}

.redes-sociales img {
    width: 30px;
    height: 30px;
}

footer .integrantes {
    background-color: #016A70;
    color: #FFFFDD;
    font-weight: bold;
    border-radius: 15px;
    width: 85%;
    margin: 10px auto; 
    text-align: center; 
    padding: 10px; 
   
}

footer .integrantes p {
    display: inline;
    padding:10px;
    transition: all 0.3s ease; 
}

footer .integrantes p:hover {
    color: #D2DE32;
    font-size: 17px;
}


