<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta v-model="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entre Tiempo</title>
    <link rel="stylesheet" href="../Style/estilosAuto.css">
    <link rel="preconnect" href="https://fonts.googleapis.com%22%3E/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    

</head>

<body style="background-color: rgba(116, 188, 190, 0.5);" id="app">

    <header class="encabezado">
        <div class="encab-izq">
            <img src="../img-tenis/Logo-Deportivo-tenis.png" alt="Logo del Sitio web">
        </div>
        <div class="encab-medio">
            <a style="text-decoration: none; color: antiquewhite;" href="main.html">
                <h1 class="animación">Entre Tiempo</h1>
            </a>
        </div>
        <div class="encab-der">
            <img src="../img-tenis/Logo-Deportivo-tenis.png" alt="Logo del Sitio web">
        </div>
    </header>
    <nav id="arriba">
        <a href="../Html/main.html">Inicio</a>
        <a href="../Html/fotbol.html">Fútbol</a>
        <a href="../Html/tenis.html">Tenis</a>
        <a href="../Html/motociclismo.html">Motociclismo</a>
        <a href="../Html/CRUD.html">Personajes</a>
        <a href="../Html/contacto.html">Contacto</a>
        <a href="../Html/register.html">Registrarse</a>
    </nav>

    <main class="tablaDeportistas" id="app">
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Nacionalidad</th>  
                    <th>Descripcion</th> 
                    <th>Deporte</th>             
                </tr>
            </thead>
            <tbody id="tablaProductos"> </tbody>
        </table>

        <button id="mostrarFormulario">Agregar Deportista</button>
        <button id="botonRedireccion">Modificar Deportista</button>

        <div id="formularioContainer" style="display: none;" class="registro">
            <h2>Agregar Deportista</h2>
            <form id="miFormulario"enctype="multipart/form-data">
                <label for="nombre">Nombre:</label>
                <input type="text" id="Nombre" v-model="Nombre" required>
                <br>
                <label for="apellido">Apellido:</label>
                <input type="text" id="Apellido" v-model="Apellido"  required>
                <br>
                <label for="nacionalidad">Nacionalidad:</label>
                <input type="text" id="Nacionalidad" v-model="Nacionalidad" required>
                <br>
                <label for="descripcion" >Descripcion:</label>
                <textarea id="Comentarios" style="width: 100%;" v-model="Comentarios"></textarea>
                <br>
                <label for="deporte">Titulos:</label>
                <input type="text" id="Cantidad_titulos" v-model="Cantidad_titulos" required>
                <BR></BR>
                <label for="deporte">Deporte:</label>
                <input type="text" id="Deporte" v-model="Deporte" required>
                <button type="submit">Guardar</button>
            </form>

            
        </div>

        
    </main>



    <footer>
        
        <div class="container">
            <p>&copy; 2023 Entre Tiempo</p>
            <a class="volver-arriba" href="#arriba">Volver arriba</a>
            <div class="redes-sociales">

                <a target="_blank" href="https://www.instagram.com"><img src="../Image/instagram.svg" alt="Instagram"></a>
                <a target="_blank" href="https://www.twitter.com"><img src="../Image/twitter-x.svg" alt="Twitter"></a>

            </div>
        </div>
        <div class="integrantes">

           
            <p> Guadalupe Alvarado </p>
            <p>•</p>
 
            <p> Erica Clatt</p>  
            <p>•</p>  
            <p> Delfina Piendibene</p>  
            <p>•</p>
            <p> Tomas Spirito </p>     
        </div>

    </footer>
    <script>
        const URL = "http://127.0.0.1:5500/";
    
        function cargarDeportistas() {
            fetch("http://127.0.0.1:5000/deportistas")
                .then(function (response) {
                    if (response.ok) { return response.json(); }
                })
                .then(function (data) {
                    let tablaProductos = document.getElementById('tablaProductos');
                    tablaProductos.innerHTML = ""; // Limpiar la tabla antes de agregar nuevos elementos
    
                    for (let deportista of data) {
                        var fila = document.createElement('tr');

                        fila.innerHTML = '<td>' + deportista.id + '</td>' + '<td>' + deportista.Nombre + '</td>' +
                            '<td>' + deportista.Apellido + '</td>' +
                            '<td align="right">' + deportista.Nacionalidad + '</td>' +
                            '<td align="right">' + deportista.Comentarios + '</td>' +
                            '<td align="right">' + deportista.Deporte + '</td>';
                        tablaProductos.appendChild(fila);
                    }
                })
                .catch(function (error) {
                    alert('Error al obtener los deportistas.');
                });
        }
    
        document.getElementById('mostrarFormulario').addEventListener('click', function () {
            var formularioContainer = document.getElementById('formularioContainer');
            formularioContainer.style.display = 'block';
        });

        document.getElementById('botonRedireccion').addEventListener('click', function () {
        window.location.href = 'agregar.html';
    });

        document.getElementById('miFormulario').addEventListener('submit', function (event) {
            event.preventDefault(); // Evitar que el formulario se envíe por defecto
            guardarDeportista();
        });
    
        function guardarDeportista() {
            var formData = new FormData();
            formData.append('Nombre', document.getElementById('Nombre').value);
            formData.append('Apellido', document.getElementById('Apellido').value);
            formData.append('Nacionalidad', document.getElementById('Nacionalidad').value);
            formData.append('Comentarios', document.getElementById('Comentarios').value);
            formData.append('Cantidad_titulos', document.getElementById('Cantidad_titulos').value);
            formData.append('Deporte', document.getElementById('Deporte').value);
    
            fetch('http://127.0.0.1:5000/deportistas', {
                method: 'POST',
                body: formData // Aquí enviamos formData en lugar de JSON
            })
            .then(function (response) {
                if (response.ok) { return response.json(); }
            })
            .then(function (data) {
                alert('Producto agregado correctamente.');
                document.getElementById('Nombre').value = "";
                document.getElementById('Apellido').value = "";
                document.getElementById('Nacionalidad').value = "";
                document.getElementById('Comentarios').value = "";
                document.getElementById('Deporte').value = "";
                document.getElementById('Cantidad_titulos').value = "";
            })
                .then(data => {
                    if (data.mensaje === "Producto agregado") {
                        alert('Deportista guardado exitosamente.');
                        // Limpiar el formulario después de guardar
                        document.getElementById('miFormulario').reset();
                        // Ocultar el formulario
                        document.getElementById('formularioContainer').style.display = 'none';
                        // Cargar nuevamente la lista de deportistas
                        agregar_deportista();
                    } else {
                        alert('Error al guardar el deportista.');
                    }
                })
                
        }
    
        cargarDeportistas();
    </script>
</body>

</html>